body,td,input,textarea{
  font-family: 나눔고딕, Arial;
  font-size: 10pt;
  line-height: 180%;
}
body{
  background-color: lightgrey;
  margin-top: 50px;
  padding-top: 12px;
  margin-left: 0px;
  margin-right: 0px;
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: red;
}

header{
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  background-color: #203864;
  color: white;
}
#head{
  margin: auto;
  width: 950px;
  font-size: 9pt;
  line-height: 59px;
}
.login{
  font-size: 8pt;
}
a.header:link{
  color: yellow;
}
a.header:visited{
  color: orange;
}
#container{
  display: flex;
  margin: auto;
  background-color: lightgrey;
  width: 950px;
}
#containerm{
  margin: 0px;
  padding: 0px;
  background-color: lightgrey;
  width: 100%;
}
#main{
  margin: 1px;
  padding: 10px;
  background-color: white;
  width: 600px;
}
#mainm{
  margin: 5px;
  padding: 2px;
  background-color: white;
  width: 96%;
}
#menu{
  margin: 1px;
  padding: 3px;
  background-color: white;
  width: 300px;
}
#menum{
  margin: 5px;
  padding: 2px;
  background-color: white;
  width: 96%;
}
.title{
  border-top: none;
  border-left: none;
  border-right: none;
  width: 100%;
}
