body,td,input,textarea{
  font-family: 서울남산체, SeoulNamsan, Verdana;
  font-size: 10pt;
  line-height: 170%;
}
body{
  background-color: lightgrey;
  padding-top: 50px;
  margin-left: 0px;
  margin-right: 0px;
}
a:link{
  text-decoration: none;
}
a:hover{
  text-decoration: none;
  color: red;
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 100%;
  background-color: orange;
}
.container{
  width: 100%;
}
.aside{
  width: 100%;
}
aside{
  background-color: white;
  padding: 10px;
  width: 100%;
}
li.menu{
	display: inline;
}
input.login{
  width: 100px;
}
.main{
  width: 100%;
}
article{
  background-color: white;
  padding: 10px;
  margin-top: 5px;
  width: 100%;
}
.writetitle{
	width: 220px;
}
td.read{
	border-top: 1px grey dotted;
}
td.readb{
	border-top: 1px grey dotted;
	border-bottom: 1px grey dotted;
}
textarea{
	width: 250px;
}
li.log{
  display: inline;
}

