body,input,textarea{
  font-family: 서울남산체, SeoulNamsan, Verdana;
  font-size: 10pt;
  line-height: 170%;
}
body{
  background-color: ivory;
  padding-top: 60px;
}
header{
  position: fixed;
  top: 0px;
  left: 0px;
  padding-left: 30px;
  width: 100%;
  background-color: orange;
}
article{
  background-color: white;
}
